@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inst</title>
    <script>
  (function(w,a,y,f){
     w._wayfinder=w._wayfinder||function(){(w._wayfinder.q=w._wayfinder.q||[]).push(arguments)};
     p={oaDomain:'primalpictures.com',oaAppId:'aa69d435-d8ac-4e5d-b6e1-9271b0378d30'};
     w._wayfinder.settings=p;h=a.getElementsByTagName('head')[0];s=a.createElement('script');s.async=1;
     q=Object.keys(p).map(function(key){return key+'='+p[key]}).join('&');
     s.src=y+'v1'+f+"?"+q;h.appendChild(s);}
   )(window,document,'https://wayfinder.openathens.net/embed/','/loader.js');
    </script>
</head>
<body>
    <div>
        <div id="wayfinder" runat="server">Loading...</div>
    </div>
</body>
</html>
